
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
a.node, a.prop {
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 13px;
}
a span.x {
  background: grey none repeat scroll 0 0;
  border-radius: 0.9rem;
  color: white;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0 0.4rem;
  position: relative;
  top: -0.1rem;
  left: 0.25rem;
}
.center {
  text-align: center;
}
.place-top {
  position: fixed;
  top: 5px;
  left: 0;
}
.right {
  float: right;
  border-left: 1px solid;
  height: 100%;
}

#props {
width: 100%;
}
#props .key{
  width: 40%;
}
#props .val{
  width: 60%;
}
.tabs, .tests{
margin: 15px 15px 15px 0;
padding-left: 0 !important;
}
.tabs li {
  display: inline-block;
}
.tabs li a {
  box-shadow: 5px 5px 2px grey;
  margin-right: 15px;
}
input[name='file'] {
display: inline-block !important;
}
.control {
  position: fixed;
  padding: 12px;
  right: 0;
}
#props tr th, #props tr td {
  padding: 5px;
  border-color: purple;
}
#props {
  position: relative;
  width: 100%;
  background: #8fbfec none repeat scroll 0 0;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
}
.prop-table {
  position: fixed;
  height: 78%;
  min-width: 300px;
  overflow: auto;
}
textarea {
  width: 100%;
  min-height: 300px;
}
pre {
  margin-bottom: 0;
  border-bottom-width: 0;
  border-top-width: 0
}
pre.merge {
  border-radius: 0;
}
pre.last {
  border-bottom: 1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
pre.first {
  border-top-width: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
pre pre {
  border: 0 none;
  padding: 0;
}
.tab-content {
  padding-top: 10px;
}
.container h5 {
  display: inline-block;
  padding-right: 10px;
}
.nav {
  margin-top: 5px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.test-code {
  position: relative;
}
.App .btn, .App input, .App select {
  margin-right: 5px;
  margin-bottom: 5px;
}
.event-screen {
  border: 1px dotted #555555;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 15px;
}
.event-screen:last-child {
  margin-bottom: 0;
}
.test-code button.copy {
  position: absolute;
  right: 0;
}
.test-code button.copy.bottom {
  bottom: 0;
}
legend {
  font-size: 15px;
  font-weight: bold;
}
.clear-all-tests {
  position: absolute;
  right: 15px;
}
.calls label {
  display: block;
}
input[type='checkbox'].clear-prev {
  line-height: 12px;
  height: 12px;
  margin-right: 5px;
}
fieldset input[type='checkbox'].clear-prev {
  margin-right: 2px;
}
.settings td, 
.settings th {
  padding: 5px 10px;
}
.settings-cls-btn,
.settings-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  font-size: 18px;
}
.settings .properties .props {
  margin-bottom: 10px;
}
.settings .property {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #F2F7F9;
}
.settings .property:first-child {
  padding-top: 0;
}
.settings .property:last-child {
  margin-bottom: 10px;
}
.settings .save-pref-prop {
  margin-top: 10px;
}
/* The switch - the box around the slider */
.uis .switch {
position: relative;
display: inline-block;
width: 54px;
height: 28px;
top: 10px;
margin-bottom: 0;
}

/* Hide default HTML checkbox */
.uis .switch input {display:none;}

/* The slider */
.uis .switch .slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.uis .switch .slider:before {
position: absolute;
content: "";
height: 20px;
width: 20px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

.uis .switch input:checked + .slider {
background-color: #2196F3;
}

.uis .switch input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

.uis .switch input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.uis .switch .slider.round {
border-radius: 34px;
}

.uis .switch .slider.round:before {
border-radius: 50%;
}
a, button {
  cursor: pointer;
}
input[type='file'].save-events-sess {
  margin-left: 5px;
  display: inline-block;
}
.back-btn {
  margin-top: 10px;
  display: inline-block;
}